
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  *ngIf="hasRole('ROLE_ADMIN')">
        <a class="nav-link" href='/category'>Categorias</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href='/product' *ngIf="hasRole('ROLE_ADMIN')">Productos</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href='/invoice'>Facturar</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href='/invoice/report' *ngIf="hasRole('ROLE_ADMIN')">Reporte Ventas</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href='/stock' *ngIf="hasRole('ROLE_ADMIN')">Manejo Inventario</a>
      </li>
      
    </ul>
    <ul  class="navbar-nav navbar-right">

      <div class="dropdown" >
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{authService.userData.username}}
        </button>
       
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"><span class="badge bg-warning"  style="font-size: 14px; float: left;">{{authService.userData.sellingPointName}} </span></a>
          
          <br/>
          <li><hr class="dropdown-divider"></li>          

          <button class="dropdown-item" type="submit" (click)="logout()">Cerrar Session</button>
         
        </div>
      </div>
      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </ul>
  </div>
</nav>
